tracing_service/misc/imtrcr_soap.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="imtrcr"
  targetNamespace="http://namespaces.sstu-pvs.ru/imtrcr"
  xmlns:tns="http://namespaces.sstu-pvs.ru/imtrcr"
  xmlns:t="http://namespaces.sstu-pvs.ru/imtrcr/types"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>

    <xsd:schema targetNamespace="http://namespaces.sstu-pvs.ru/imtrcr/types"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:element name="Trace">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="authToken" type="xsd:string" />
            <xsd:element name="imageData" type="xsd:string" />
            <xsd:element name="despecklingPixels" type="xsd:integer" default="0" />
            <xsd:element name="angularity" type="xsd:integer" default="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TraceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="svgXml" type="xsd:string" />
            <xsd:element name="statusCode" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
    
  </wsdl:types>

  <wsdl:message name="TraceRequest">
    <wsdl:part name="body" element="t:Trace" />
  </wsdl:message>

  <wsdl:message name="TraceResponse">
    <wsdl:part name="body" element="t:TraceResponse" />
  </wsdl:message>

  <wsdl:portType name="ImTrcrPortType">
    <wsdl:operation name="Trace">
      <wsdl:input message="tns:TraceRequest" />
      <wsdl:output message="tns:TraceResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ImTrcrSoapBinding" type="tns:ImTrcrPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Trace">
      <soap:operation soapAction="http://namespaces.sstu-pvs.ru/imtrcr/#Trace"/>
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

</wsdl:definitions>